
* {
  font-family: "Meiryo UI", arial, sans-serif;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 4px 8px 4px 8px;
  border-style: solid;
  border-width: 1px;
  border-color: #ccffcc;
  background-color: #ccffcc;
  color: #000000;
  font-weight: bold;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.btn:hover {
  border-color: #99ff99;
}

.code {
  margin: 16px 0px 16px 0px;
  padding: 4px;
  border-width: 0px 0px 0px 4px;
  border-color: #cccccc;
  border-style: solid;
  background-color: #f0f0f0;
  white-space: pre;
}

.note {
  color: #0000ff;
}

#simcir-fb-message {
  color: #ff0000;
}