
BODY, TH, TD {
  font-family: "Meiryo UI", arial, sans-serif;
  font-size: 12pt;
}

H1 { font-size: 24pt; }
H2 { font-size: 20pt; }
H3 { font-size: 16pt; }
H4 { font-size: 12pt; }
H5 { font-size: 11pt; }
H6 { font-size: 10pt; }

.code {
  margin: 16px 0px 16px 0px;
  padding: 4px;
  border-width: 0px 0px 0px 4px;
  border-color: #cccccc;
  border-style: solid;
  background-color: #f0f0f0;
  white-space: pre;
  width: 760px;
}

.note {
  color: #0000ff;
  font-weight: bold;
}
