/*
 * wschat-client
 *
 * @author Kazuhiko Arase
 */

.wschat {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
}

.wschat, .wschat-editor {
  font-family: Tahoma, 'Meiryo UI', arial, sans-serif;
  font-size: 8pt;
}

.wschat-editor {
  outline: none;
  resize: none;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  padding: 2px;
  margin: 0px;
}

.wschat-editor::-ms-clear {
  display: none;
}

.wschat-msg-edit {
  background-color: #ffffcc;
}

.wschat-deleted {
  color: #999999;
}

.wschat-modified {
  color: #999999;
}

.wschat-attached-file {
  text-decoration: underline;
}

.wschat-attached-file:hover {
  color: #999999;
}

.wschat-dialog {
  padding: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #999999;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(63, 63, 63, 0.5);
     -moz-box-shadow: 0px 0px 2px 0px rgba(63, 63, 63, 0.5);
          box-shadow: 0px 0px 2px 0px rgba(63, 63, 63, 0.5);
}

.wschat-button {
  padding: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #999999;
  background-color: #ffffff;
}

.wschat-button:hover {
  background-color: #ccccff;
}

.ws-prev-button {
  color: #6666cc;
}

.ws-prev-button:hover {
  color: #9999ff;
}

.wschat-group-date-header {
  margin: 4px;
}

.wschat-menu {
  border-width: 1px;
  border-style: solid;
  border-color: #999999;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(63, 63, 63, 0.5);
     -moz-box-shadow: 0px 0px 2px 0px rgba(63, 63, 63, 0.5);
          box-shadow: 0px 0px 2px 0px rgba(63, 63, 63, 0.5);
}

.wschat-menu-item {
  padding: 4px;
}

.wschat-menu-item:hover {
  background-color: #ccccff;
}

.wschat-tab {
  color: #666666;
  background-color: #cccccc;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px 1px 0px 1px;
}

.wschat-tab-selected {
  color: inherit;
  background-color: inherit;
}

.wschat-user {
}

.wschat-user-proxy {
  background-color: #cccccc;
  opacity: 0.8;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.wschat-users-frame {
  border-style: solid;
  border-color: #999999;
  border-width: 0px 1px 1px 1px;
}

.wschat-users {
}

.wschat-users-cell {
}

.wschat-groups-frame {
  border-style: solid;
  border-color: #999999;
  border-width: 0px 1px 1px 1px;
}

.wschat-groups {
}

.wschat-groups-cell {
}

.wschat-thread-frame {
}

.wschat-thread {
}

.wschat-selected {
  background-color: #eeeeee;
}

.wschat-new-msg {
}

.wschat-thread-users {
}

.wschat-thread-user {
  text-align: center;
}

.wschat-thread-small-user {
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.wschat-user-view {
  background-color: #999999;
}

.wschat-user-view-dragenter {
  opacity: 0.5;
}

.wschat-thread-toolbar {
  background-color: #00aaff;
  color: #ffffff;
}

.wschat-retire-button {
  margin: 2px;
  padding: 2px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
}

.wschat-retire-button:hover {
  background-color: #33ccff;
}

.wschat-thread-cells {
}

.wschat-thread-cells-content {
}

.wschat-thread-cell {
}

.wschat-thread-msg-user {
  color: #3399ff;
}

.wschat-thread-msg-user-me {
  color: #999999;
}

.wschat-thread-msg-body {
}

.wschat-thread-msg-date {
}

.wschat-thread-msg-header {
  margin-top: 8px 0px 8px 0px;
  padding: 8px 4px 8px 4px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px 0px 1px 0px;
  font-weight: bold;
}

.wschat-thread-msg {
}

.wschat-file-dragenter {
  border-color: #ccccff;
  background-color: #eeeeff;
}

.wschat-input-assist {
  -webkit-box-shadow: 0px 0px 2px 0px rgba(63, 63, 63, 0.5);
     -moz-box-shadow: 0px 0px 2px 0px rgba(63, 63, 63, 0.5);
          box-shadow: 0px 0px 2px 0px rgba(63, 63, 63, 0.5);
}
